// Modules and Variables
@import "partials/base";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Varela+Round|Quicksand|Bad+Script');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html,
body {
    font-family: "Varela Round", sans-serif;
    padding: 0px;
    margin: 0px;
    color: $text-color;
}

.bg-indigo {
    background-color: $indigo;
}

.bg-light-indigo {
    background-color: $light-indigo;
}

.bg-lightest-indigo {
    background-color: $lightest-indigo;
}

// Partials
@import "partials/header";
@import "partials/heading";
@import "partials/cards";
@import "partials/navbar";
@import "partials/code";
