// Global color for body
$body-bg: white;
$selection-color: #dddddd;
$text-color: black;

// Brands
$brand-primary: #3097d1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Borders
$list-group-border: #d3e0e9;
$list-group-border: #d3e0e9;
$navbar-default-border: #d3e0e9;
$panel-default-border: #d3e0e9;
$panel-inner-border: #d3e0e9;
$turquoise-border-color: #00385a;

// Navbar
$navbar-default-bg: white;

// Anchor
$link-color: white;
$link-hover-color: white;
