// Global color for body
$body-bg: #f4f4f4;
$selection-color: #45196D;
$text-color: #4a4a4a;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Borders
$list-group-border: #d3e0e9;
$list-group-border: #d3e0e9;
$navbar-default-border: #d3e0e9;
$panel-default-border: #d3e0e9;
$panel-inner-border: #d3e0e9;
$turquoise-border-color: #00385a;

// Navbar
$navbar-default-bg: white;

// Colors
$white: #fcfff7;
$dark: #050505;
$darkest: #222222;
$lightest-indigo: #886ca2;
$light-indigo: #45196d;
$indigo: #33035f;
$dark-indigo: #260346;

// Anchor
$link-color: white;
$link-hover-color: white;
