/*
 * Import all modules
 */
@import "../modules/all";

/*
 * Media query breakpoints (include media library)
 */
$breakpoints: (phone: 320px, tablet: 768px, desktop: 992px);

/*
 * Generic styling
 */
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

::selection {
    background-color: $selection-color;
    color: white;
}
